
 body {
background-image: url("back.jpg");
 background-color: #cccccc;
background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: 100% 100%;
}
#Tytuł{
	font-family: 'Goldman', cursive;
	color: #63c5da;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 4px 4px 5px blue;
	text-align: center;
}
#sekcja1{
	font-family: 'Goldman', cursive;
	color: #63c5da;
	font-weight: bold;
	text-shadow: 4px 4px 5px #151B54;
	text-align: center;
	
}
#sekcja2{
	color:  red ;
}
img{
    border-bottom : 20px ;
	border-left : 20px ;
	border-right : 20px ;
	border-bottom:20px ;
	border-style : outset ;
border-color: #2B3856;	
	display: block;
    margin: auto;
    width: 50%;
    height: 50%;
    border-radius: 10px; 
	border
}

 #obraz1{position: absolute;right:0px: ; left:700px ;top:400px;bottom:100px  ;width: 1000px;
    height: 1000px;}
    #obraz2{position: absolute;right:400px: ; left:100px ;top:400px;bottom:100px ; width: 1000px;
    height: 1000px;}
	 #obraz3{position: absolute;right:0px: ; left:700px ;top:1000px;bottom:100px  ;width: 1000px;
    height: 1000px;}
	#obraz4{position: absolute;right:400px: ; left:100px ;top:1000px;bottom:100px ; width: 1000px;
    height: 1000px;}
	
#form1{position: absolute;right:0px: ; left:670px ;top:1600px;bottom:100px ; width: 400px;
    height: 400px;
	font-family: 'Goldman', cursive;
	color: #63c5da;
	font-size: 15px;
	font-weight: bold;
	text-shadow: 4px 4px 5px blue;
	text-align: center;
	 border-bottom : 20px ;
	border-left : 20px ;
	border-right : 20px ;
	border-bottom:20px ;
	border-style : outset ;
border-color: #43C6DB;	
 background-color:transparent;
	}
	#sendBtn{
		background-color:#6698FF;
		font-family: 'Goldman', cursive;
	color: #63c5da;
	font-size: 15px;
	font-weight: bold;
	text-shadow: 4px 4px 5px blue;
	text-align: center;
	 border-bottom : 5px ;
	border-left : 5px ;
	border-right : 5px ;
	border-bottom:5px ;
	border-style : outset ;
		
		
	}